.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  display: flex;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  align-items: center;
  position: relative;
  background-color: #f2f2f2;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  width: 228px;
  height: 32px;
  z-index: 2;
}

.header__title {
  margin: 0 0 0 64px;
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
  z-index: 2;
}

.header__subtitle {
  margin: 0;
  position: absolute;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  width: 388px;
  bottom: 30px;
  left: 64px;
  z-index: 2;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.header__main-illustration {
  position: absolute;
  height: 608px;
  width: 765px;
  bottom: 0;
  right: 0;
  z-index: 1;
  object-fit: cover;
  object-position: bottom right;
}

.header__square-pic {
  position: absolute;
  right: 0;
  top: 64px;
  background-color: #2f80ed;
  width: 568px;
  height: 568px;
  z-index: 0;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  margin: 100px auto 0 auto;
  width: 80%;
}

.two-columns__brief {
  margin: 0;
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
}

.two-columns__main-text {
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  margin: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__paragraph:not(:last-child) {
  margin-bottom: 30px;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
}

.digits {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-title {
  display: flex;
  margin: 100px auto 20px auto;
  width: 60%;
  justify-content: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
}

.section-subtitle {
  display: flex;
  margin: 0;
  width: 60%;
  justify-content: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto 100px auto;
  padding: 0;
  width: 1100px;
  list-style: none;
}

.table__cell {
  display: flex;
  flex-direction: column;
  width: 250px;
  margin: 60px 0 0 0;
}

.table__heading {
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.table__text {
  margin: 20px 0 0 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.feynman {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: #f2f2f2;
  min-height: 890px;
}

.feynman__image {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  width: 867px;
  height: 637px;
  object-fit: cover;
  object-position: bottom left;
  z-index: 0;
}

.feynman__title {
  margin: 100px 0 0 0;
  width: 648px;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  z-index: 1;
}

.feynman__subtitle {
  margin: 70px 0 0 0;
  text-align: center;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  z-index: 1;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  text-decoration: none;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  z-index: 1;
  color: #2f80ed;
}

.kaufman {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
  background-color: #1f1f1f;
}

.section-title_theme_dark {
  width: 60%;
  margin: 90px 0 0 0;
  color: white;
  text-align: center;
  z-index: 1;
}

.section-subtitle_theme_dark {
  width: 60%;
  margin: 20px 0 0 0;
  color: white;
  text-align: center;
  z-index: 1;
}

.table_theme_dark {
  margin: 0 auto 0 auto;
  padding-bottom: 90px;
  color: white;
  z-index: 1;
}

.table__cell_theme_dark {
  display: flex;
  width: 200px;
  margin: 80px 0 0 0;
  color: white;
}

.kaufman__triangle {
  position: absolute;
  background-image: url(../images/kaufman-triangle.svg);
  background-size: contain;
  width: 877px;
  height: 877px;
  top: 0;
  right: -210px;
}

.footer {
  display: flex;
  justify-content: center;
  background-color: #1f1f1f;
  min-height: 350px;
}

.footer__columns {
  display: flex;
  width: 90%;
  justify-content: space-between;
  margin: 60px 0 40px 0;

}

.footer__column_content_copyright {
  display: flex;
  flex-basis: 711px;
  margin: 0;
  flex-direction: column;
  justify-content: space-between;
}

.logo_place_footer {
  margin: 0;
  background-image: url(../images/logo_place_footer.svg);
  width: 228px;
  height: 32px;
}

.footer__author {
  display: flex;

  margin: 18px 0;
  color: white;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-heading {
  margin: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
  color: white;
}

.footer__column-links {
  margin: 20px 0 16px 0;
  padding: 0;
  list-style: none;
}

.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: white;
  text-decoration: none;
}

.footer__social-icons {
  margin: 0 10px 0 0;
  height: 16px;
  width: 16px;
}